* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica';
}

:root {
  --small-width: 400px;
  --nav-height: 50px;
}

.flex-container {
  position: absolute;
  top: var(--nav-height);
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#GuidedInput {
  min-height: 500px;
  max-height: 700px;
}
#FreeInput {
  min-height: 422px;
  max-height: 622px;
}

.flex-container > * { justify-content: center; }

.instructions {
  max-width: var(--small-width);
  display: flex;
  text-align: center;
}

.grid-container {
  display: grid;
}

#textarea-div {
  height: 100px;
  max-width: var(--small-width);
  margin: 10px 22px 20px 10px;
}

textarea {
  font-size: 16px;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  resize: none;
}

.play {
  background-color: #555;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  outline: none; /* for when it's clicked */
}

.play:hover { background-color: #333; }


/* Navigation Bar */

nav { /* navigation bar */
  background-color: #333;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

nav > * {
  display: none;
  color: white;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  height: var(--nav-height);
  justify-content: space-around;
  align-items: center;
  position: relative;
}

nav > *:hover, #mobile-menu:target a:hover { background-color: #222; }

#nav-home {
  display: flex;
  font-size: 24px;
  flex-grow: 5;
}
#hamburger {
  display: flex;
  font-size: 24px;
  flex-grow: 1;
}

#mobile-menu {
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  z-index: 2;
}

#mobile-menu:target {
  display: flex;
  --nav-height: 200px;
}

#mobile-menu:target a {
  color: white;
  background-color: #333;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  height: var(--nav-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

@media only screen and (min-width: 600px) {

  nav { /* navigation bar */
    background-color: #333;
    width: 100%;
    display: flex;
  }

  #nav-home {
    font-size: 16px;
    flex-grow: 1;
  }

  nav > *, nav a { /* all items in nav bar */
    color: white;
    background-color: #333;
    text-align: center;
    text-decoration: none;
    height: var(--nav-height);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  /* darken links on hover */
  nav a:hover { background-color: #222; }

  /* show dropdown-content on hover over dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: var(--nav-height);
    background-color: white;
    min-width: 181px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: auto;
    text-decoration: none;
    height: var(--nav-height);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #hamburger {
    display: none;
  }

  #mobile-menu {
    display: none;
  }

}
