* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica';
}

:root {
  --small-width: 400px;
  --nav-height: 50px;
}

.flex-container {
  position: absolute;
  top: var(--nav-height);
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-container > * {
  justify-content: center
}

.instructions {
  max-width: var(--small-width);
  display: flex;
  text-align: center;
}

.grid-container {
  display: grid;
}

textarea {
  font-size: 16px;
  height: 100px;
  max-width: var(--small-width);
  width: var(--small-width);
  margin: 4px 0px;
  border-radius: 3px;
  padding: 3px 5px;
  outline: none;
}

.play {
  background-color: #555;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  outline: none; /* for when it's clicked */
}

.play:hover {
  background-color: #333;
}

/* Navigation Bar */

nav { /* navigation bar */
  background-color: #333;
  height: var(--nav-height);
}

nav > * { /* all items in nav bar */
  display: inline-block;
  float: left;
  color: white;
  background-color: #333;
  text-align: center;
  text-decoration: none;
  padding: 16px;
}

nav a { /* all links in nav bar and dropdowns */
  color: white;
  background-color: #333;
  text-decoration: none;
  padding: 16px 16px;
}

nav a:hover { background-color: #222; } /* darken links on hover */

div.dropdown { position: relative; }

/* show dropdown-content on hover over dropdown */
.dropdown:hover .dropdown-content { display: block; }

.dropdown-content {
  display: none;
  position: absolute;
  top: var(--nav-height);
  background-color: white;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a { display: block; }

#hamburger {
  display: none;
}

.mobileMenu {
  display: none;
}


/* mobile */
@media only screen and (max-width: 600px) {

  nav > * { display: none;}

  nav > #nav-home, nav > #hamburger {
    display: inline-block;
  }

  #hamburger {
    float: right;
    max-height: var(--nav-height);
    font-size: 24px;
    padding: 7px 16px 10px 16px;
  }



}
